@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;

}
*{
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}
html{
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
 
}
body {
  min-height: 100vh !important;
  min-height: 100dvh !important;
  background-color: white;
  display: grid !important;
  grid-template-columns: auto 1fr !important; 
}

.trow th{
  background-color: #3095E9;
  color: white;
}

.btn-save{
  border: 1px solid #96b9ec;
}

.btn-save:hover{
  background-color:#96b9ec;
  color: #ffffff;
  box-shadow: 5px 5px 5px rgba(193, 193, 193, 0.5);
}

.active{
    border: none;
    border-radius: .85em;
    background-color:#96b9ec;
    color: white;
   svg{
    fill:#ffffff;
  }
}


#sidebar ul li.active a{
    background-color:#96b9ec;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(193, 193, 193, 0.5);
   svg{
    fill:#ffffff;
  }
}

#sidebar ul li a{
    fill: white;
}


#sidebar{
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: white ;
  box-shadow: 5px 5px 5px  grey ;

  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}
#sidebar.close{
  padding: 5px !important;
  width: 60px !important; 
}
#sidebar ul{
  padding-left: 0px;
  list-style: none !important;
}
#sidebar > ul > li:first-child{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  .logo{
    font-weight: 900;
  }
}
#sidebar ul li {
 margin-bottom: 10px;
}
#sidebar ul li.setting a{
 margin-top: 500px;
}

#sidebar ul li a{
  svg{
    fill:#96b9ec;
  }
}
#sidebar ul li a:hover{

  svg{
    fill:#ffffff;
  }
}

.atas{
  color: #96b9ec;
}

#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 1em;
}

#sidebar svg{
  flex-shrink: 0;
  fill: var(--text-clr);
}

#sidebar a:hover, #sidebar .dropdown-btn:hover{
  background-color: #96b9ec;
  color: white;
  box-shadow: 5px 5px 5px rgba(193, 193, 193, 0.5)
}

.rotate svg:last-child{
  rotate: 180deg;
}

#toggle-btn{
  margin-right: -3px;
  margin-left: auto !important;
  padding: .9em !important;
  border: none;
  border-radius: .5em  ;
  background: none;
  cursor: pointer;

  svg{
    
    stroke:#96b9ec;
    transition: rotate 150ms ease;
  }
}
#toggle-btn:hover{
  background-color: #96b9ec;
  svg{
    stroke: white;
  }
 

}

.greet {
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(193, 193, 193, 0.5);
  /* padding: 2em; */
  height: 120px;
}

#main  {
  /* padding: 3em;
  height: 400px; */
  
}

 /* .krs  {
  gap: 3em;
  font-size: 20px;
  padding: .5em;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(193, 193, 193, 0.5);
  height: 230px;
  margin-top: 80px;
}

.graph{
  font-size: 20px;
  padding: .5em;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(193, 193, 193, 0.5);
  height: 245px;
}
 .progres {
  margin-left: 5px;
  margin-top: 70px;
  height: 520px;
  
}

#isi .krs h1 {
  font-size: 50px  ;
}

.nav {
  background-color: #ffffff;
  padding: 2em;
  height: 120px;
  box-shadow: 5px 5px 5px rgba(193, 193, 193, 0.5);
}

#tabel {
  border-radius: 10px;
  background-color:#ffffff;
  height: 290px;
  box-shadow: 5px 5px 5px rgba(193, 193, 193, 0.5);
}

.trow th{
  color: white;
  background-color: #3095E9;
} */